  
#cal-wrap * { font-family: arial, sans-serif; }
.ninja { display: none !important;  margin:0;
padding:0;
box-sizing:border-box;
}

 
 
 #heading{
  text-align: center;
  
  font-size: 30PX;
 }
#cal-date { display: flex; justify-content: space-between;   border: #ea4c4c 2px solid; border-radius: 4px;}
#cal-mth, #cal-yr {
  box-sizing: border-box;
  border: 2px solid black;
  background-color:GRAY;
  border-radius:4px ;
  font-size: 1.2em;
  border: 2px solid lightsalmon;
 
}
 
.main{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100vw;
  height: 100vh;
  flex-direction:column;
 
}

#cal-wrap{
  width:fit-content;
  height:600px;
}
 
#calendar{
  width:fit-content;
  height:100%;
  border :1px solid #f55;
  border-collapse: collapse;
}

 
#calendar tr.head td {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
   padding: 10px;
   border :1px solid #f55;
   border-collapse: collapse;
  background: #f37070;
 
  text-align: center;
}
#calendar tr.day td {
  border: 1px solid #ddd;
  padding: 10px;
  border :1px solid #f55;
  border-collapse: collapse;
  vertical-align: top;
}
#calendar tr.day td:hover {
  background: #fff9e4;
  cursor: pointer;
}
#calendar tr td.blank {
  background: #f5f5f5;
}
#calendar tr td.today {
  background: #f55;
  

}
#calendar .dd {
  font-size: 1.2em;
  color: #999;
}
#calendar .evt {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: bold;
  overflow: hidden;
  color: #ff5d5d;
}

 /* EVENT SECTION */
#cal-event {
  padding: 15px;
  margin-top: 20px;
  background: #f5f5f5;
  border: 1px solid #ddd;
}
#cal-event h1 {
  color: #333;
  padding: 0;
  margin: 0;
}
#evt-date {
  color: #555;
  margin: 10px 0;
}
#cal-event textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  min-height: 100px;
}
#cal-event input[type=button], #cal-event input[type=submit] {
  padding: 10px;
  margin: 5px;
  font-size: 1.2em;
  border: 0;
  background: #ea4c4c;
  color: #fff;
}
  
 



@media screen and (max-width: 800px) {
 
  #heading{
    text-align: center;
    
    font-size: 20PX;
   }
  #cal-date { display: flex; justify-content: space-between;   border: #ea4c4c 2px solid; border-radius: 4px;}
  #cal-mth, #cal-yr {
    box-sizing: border-box;
    border: 2px solid black;
    background-color:GRAY;
    border-radius:4px ;
    font-size: 1.2em;
    border: 2px solid lightsalmon;
   
  }
   
  .main{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100vw;
    height: 100vh;
    flex-direction:column;
   
  }
  #cal-wrap{
  width:fit-content;
    height:600px;
   
  }
   
  
  }
  #calendar{
    width:fit-content;
    height:100%;
   
   
  }
  
   
  #calendar tr.head td {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
     
    background: #f37070;
   
    text-align: center;
  }
  #calendar tr.day td {
    border: 1px solid #ddd;
  
    vertical-align: top;
  }

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width:400px) {
  
 #heading{
  text-align: center;
  
  font-size: 15PX;
 }
#cal-date { display: flex; justify-content: space-between;   border: #ea4c4c 2px solid; border-radius: 4px;}
#cal-mth, #cal-yr {
  box-sizing: border-box;
  border: 2px solid black;
  background-color:GRAY;
  border-radius:4px ;
  font-size: 1.2em;
  border: 2px solid lightsalmon;
 
}
#cal-wrap{
   width:fit-content;
  height:600px;
 
}

.main{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100vw;
  height: 100vh;
  flex-direction:column;
 
}
 
#calendar{
  width:100%;
  height:100%;
 
}

 
#calendar tr.head td {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
   padding: 3px;
  background: #f37070;
 
  text-align: center;
}
#calendar tr.day td {
  border: 1px solid #ddd;
  padding: 3px;
  vertical-align: top;
}
}